<style>
    .input-error {
        color: red;
        font-style: italic;
    }
    .input-info {
        color: green;
        font-style: italic;
    }
</style>

<div id="modelAddCard" class="modal fade bs-learnvoca-write-modal"
    tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Add Card!</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <input type="text" id="txtValueToWrite" class="form-control" placeholder="Card name!" ng-model="cardName">
              </div>
            </div>
            <div class="modal-footer">
                <span class="pull-left" ng-class="{'input-error': status.isError, 'input-info': !status.isError }"
                    ng-if="status.active">{{status.message}}</span>
                <button type="button" class="btn btn-primary" ng-click="onBtnAddClicked(cardName)">Add</button>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>
<script>
    $('#bleWriteForm').on('shown.bs.modal', function() {
        $('#txtValueToWrite').focus();
    });
</script>