<style>

</style>
<div class="container">
    <div ng-if="isDev" style="position: fixed; right: 2px; top: 2px; opacity: 0.25;">
      <button class="btn btn-danger" nav-button nav-target="/Test">{{ 'static.TEST_PAGE' | translate }}</button>
      <button class="btn btn-danger" nav-button nav-target="/setting">{{ 'static.SETTING' | translate }}</button>
    </div>
    <h2>Learn Voca 1.0!</h2>

    <a href="/authen" class="btn btn-link pull-right">Login</a>

    <ul class="lst-card">
        <li class="btn btn-link"
            nav-button nav-target="/card" nav-param="{ topicId:'{{topic._id}}'}"
            ng-repeat="topic in allTopics track by topic._id">
            {{ topic.name }}
        </li>
    </ul>

    <button class="btn btn-link" nav-button nav-target="/about">About</button>

</div>
