
<style>
    ul#lstTopicProperties {
        list-style-type: none;
        padding-left: 0;
    }
    #lstTopicProperties li { }

    ul#lstWordsByTopic {
        list-style-type: decimal;
        padding-left: 12px;
        margin-top: 15px;
    }
    ul#lstWordsByTopic li {
        border: 1px solid lightgrey;
        padding-left: 10px;
        border-radius: 5px;
        margin-bottom: 5px;
    }

</style>

<div class="container">

    <div class="row" style="margin-bottom: 25px;">
        <div class="col-xs-6">
            <form class="form-inline">
                <label for="selTopic">Select a topic</label>
                <select id="selTopic" class="form-control" ng-model="selectedTopic"
                    ng-change="onTopicSelectionChanged()"
                    ng-options="topic as topic.name for topic in allTopics track by topic._id"></select>

               <!-- <div class="form-group">
                    <input type="text"
                       class="form-control"
                       id="txtWordSearch"
                       ng-model="txtTopicSearch"
                       placeholder="Enter a topic name">
                </div>
                <button type="button" class="btn btn-default"
                    ng-click="createTopic(txtTopicSearch, '')">Create</button>
                <button type="button" class="btn btn-default"
                    ng-click="deleteTopicByName(txtTopicSearch)">Delete</button>-->
            </form>
            <br>

            <button class="btn btn-default" ng-disabled="!selectedTopic._id"
              ng-click="onBtnExportTopicClicked()">Export</button>
            <button class="btn btn-default"
                    ng-click="onBtnNewTopicClicked()">New topic</button>

            <br>
            <ul id="lstWordsByTopic">
                <li ng-repeat="word in wordsByTopic" class="item-word" style="position: relative;">
                    <div class="item-word-container">
                        <b>{{word.name}}</b>
                    </div>

                    <span style="position: absolute; top: 0; right: 4px;"
                      ng-click="onBtnRemoveWordFromTopicClicked(word)">x</span>
                </li>
            </ul>
        </div>

        <div class="col-xs-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="txtTxtWordSearch">Search word</label>
                    <input type="text" id="txtTxtWordSearch"
                           class="form-control"
                           ng-model="txtWordSearch"
                           placeholder="Enter a word">
                </div>
                <button
                    type="button"
                    class="btn btn-default"
                    ng-click="getWordByName(txtWordSearch)">Search</button>
                <button
                    class="btn btn-primary btn-sm"
                    ng-click="onBtnAddWordToTopicClicked()">Add to topic</button>
                <!--<button
                    class="btn btn-primary btn-sm"
                    ng-click="onBtnRemoveWordFromTopicClicked(searchWord)">Remove word from topic</button>-->
            </form>
            <br>
            <pre>{{ searchWord | json }}
            </pre>
        </div>


    </div>
</div>