
<style>
    ul#lst-manual-def, ul#lst-manual-example {
        list-style-type: none;
        padding-left: 0;
    }

    ul#lst-manual-def li, ul#lst-manual-example li {
        margin-bottom: 5px;
    }

    ul#lst-manual-def li input,
    ul#lst-manual-example li input,
    #txtManualImageUrl, #txtManualImageSource, #txtManualImageAuthor {
        width: 95%;
    }
</style>

<div class="container">

    <div class="row" style="margin-bottom: 25px;">

        <!-- Build auto -->
        <div class="col-lg-6 col-md-6 col-sm-12">
            <label>Build a word (first,
                <span style="color: green;">Get a word</span>; then,
                <span style="color: green;">Build</span>)</label>
            <br>
            <button
              class="btn btn-primary"
              ng-click="onBtnGetAWordClicked()">Get a word</button>

            <button
              class="btn btn-primary"
              ng-click="onBtnBuildWordClicked(wordToBuild.name)">Build</button>

            <pre style="margin-top: 5px;">{{ wordToBuild | json }}</pre>

            <hr> <!-- Manual builder -->
            <label>Manual</label>
            <div>
                <form class="form-inline">
                    <div class="form-group">
                        <input type="text"
                           class="form-control"
                           id="txtWordSearch"
                           ng-model="txtWordSearch"
                           placeholder="Enter a word">
                    </div>
                    <button
                        type="button"
                        class="btn btn-default"
                        ng-click="getWordByName(txtWordSearch)">Search</button>
                </form>

                <form style="margin-bottom: 25px;">

                    <div class="form-group">
                        <label for="txtManualName">Word</label>
                        <input id="txtManualName" class="form-control"
                          type="text" ng-model="mWord.name"
                          placeholder="...">
                    </div>

                    <div class="form-group">
                        <label for="txtManualType">Type</label>
                        <input id="txtManualType" class="form-control"
                               type="text" ng-model="mWord.type"
                               placeholder="word type (noun / verb / adj / adv ...">
                    </div>
                    <div class="form-group">
                        <label for="txtManualPronunciation">Pronunciation</label>
                        <input type="text" class="form-control" id="txtManualPronunciation"
                           ng-model="mWord.pronunciation" placeholder="Pronunciation">
                    </div>

                    <div class="form-group">
                        <label>Definitions</label>
                        <ul id="lst-manual-def">
                            <li ng-repeat="def in mWord.descriptions track by $index">
                                <input type="text" ng-model="mWord.descriptions[$index]">
                            </li>
                            <li><button class="btn btn-link" ng-click="onBtnAddDef()">add</button></li>
                        </ul>
                    </div>

                    <div class="form-group">
                        <label>Examples</label>
                        <ul id="lst-manual-example">
                            <li ng-repeat="eg in mWord.examples track by $index">
                                <input type="text" ng-model="mWord.examples[$index]">
                            </li>
                            <li><button class="btn btn-link" ng-click="onBtnAddExample()">add</button></li>
                        </ul>
                    </div>

                    <hr>
                    <div class="form-group">
                        <label for="txtManualImageUrl">Image</label>
                        <input id="txtManualImageUrl" type="text" ng-model="mWord.imageUrl">
                    </div>
                    <div class="form-group">
                        <label for="txtManualImageSource">Image Source</label>
                        <input id="txtManualImageSource" type="text" ng-model="mWord.imageSource">
                    </div>
                    <div class="form-group">
                        <label for="txtManualImageAuthor">Image Owner</label>
                        <input id="txtManualImageAuthor" type="text" ng-model="mWord.imageAuthor">
                    </div>

                    <div class="form-group">
                        <button
                          class="btn btn-primary"
                          style="margin-top: 15px;"
                          ng-click="onBtnManualUpdateClicked()">Update word</button>
                    </div>
                </form>
            </div>

            <hr> <!-- Build auto result -->
            <div class="">
                <label>Build result</label>
                <pre style="margin-top: 5px;">{{ wordBuilt | json }}</pre>
            </div> <!-- Build auto result -->

        </div>

        <div class="col-lg-12">
            <textarea
              style="width: 100%;"
              hint="Enter word(s) - separated by comma ';' then click Submit"
              ng-init="txtWordsInput='eugene; teacher; old; kind'"
              ng-model="txtWordsInput"></textarea>

            <button
                class="btn btn-primary pull-right"
                ng-click="onBtnSubmitClicked(txtWordsInput)">Submit</button>
        </div>

    </div>
</div>