<div class="container">
  <div>
    <h2>Dashboard</h2>
  </div>
  <div class="table-responsive">

    <table id="tbl-devices" class="table table-striped table-hover">
      <thead class="alert alert-success">
      <tr>
        <th></th>
        <th>Id</th>
        <th>Name</th>
        <th>Status</th>
        <th>Configure</th>
        <th>Toggle</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="dev in devices">
        <td>{{ $index }}</td>
        <td>{{ dev.id }}</td>
        <td>{{ dev.name }}</td>
        <td
          ng-class="{'text-success': dev.status === SwitchStatus.On, 'text-danger': dev.status === SwitchStatus.Off }">
          {{ dev.status | SwitchStatusDisp }}
        </td>
        <td>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="switch-{{dev.id}}"
             ng-init="dev.status1 = (dev.status == SwitchStatus.On)"
             ng-checked="dev.status1"
             ng-model="dev.status1" ng-change="configCheckboxToggle($event, dev)">
            <label class="custom-control-label" for="switch-{{dev.id}}"></label>
          </div>
        </td>
        <td>
          <button class="btn btn-sm btn-outline-success" ng-click="toggleSwitch(dev)">
            {{ dev.status === SwitchStatus.On ? 'Turn Off' : 'Turn On' }}
          </button>
        </td>
      </tr>
      </tbody>

    </table>

    <button class="btn btn-outline-danger" ng-click="applySystemConfig()">Update</button>

  </div>
</div>
